.services {
  .flex-container {
    display: flex !important;
  }

  &__left {
    width: 51.16%;
  }

  &__right {
    width: 48.84%;
    height: 556px;
    background: red;
    border-radius: 8px;
    margin-top: 124px;
    opacity: 0;
  }
}